body {
  margin: 0;
  background-color: green;
  color: white;
  font-size: 1.5em;
  font-family: sans-serif, 'Ubuntu';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-size: 2.5em;
  padding: 0px 25px;
  margin-right: 250px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 1s;
  border: 3px solid black;
}
button:hover{
  background-color: grey;
  color: white;
  transition: 1s;
}
button:active{
  background-color: black;
  color: white;
  transition: 0.375s;
}
button:nth-last-child(1){
  margin: 0px;
}
a{
  color: white;
  transition: 1s;
  font-style: italic;
  font-size: 0.75em;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid white;
}
a:hover{
  color: grey;
  border-bottom: 1px solid grey;
  transition: 1s;
}
a:active{
  color: white;
}
#subtitle{
  font-size: 0.75em;
  font-style: italic;
}
h1{
  margin-bottom: 0px;
}


@media only screen and (max-width: 945px)
{
  button{
    font-size: 1.5em;
    padding: 0px 25px;
    margin-right: 225px;
  }
  button:nth-last-child(1){
    margin: 0px;
  }
}

@media only screen and (max-width: 768px)
{
  button{
    font-size: 1.5em;
    padding: 0px 25px;
    margin-right: 75px;
  }
  button:nth-last-child(1){
    margin: 0px;
  }
}

@media only screen and (max-width: 500px)
{
  button{
    font-size: 1em;
    padding: 10px 25px;
    margin-right: 75px;
  }
  button:nth-last-child(1){
    margin: 0px;
  }

  h1{
    font-size: 1.75em;
  }
}


@media only screen and (max-width: 425px)
{
  button{
    font-size: 1em;
    padding: 10px 25px;
    margin-right: 50px;
  }
  button:nth-last-child(1){
    margin: 0px;
  }

  h1{
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 385px)
{
  body{
    font-size: 1em;
  }

  button{
    font-size: 1.25em;
    padding: 10px 25px;
    margin-right: 25px;
  }
  button:nth-last-child(1){
    margin: 0px;
  }

  h1{
    font-size: 1.75em;
  }
}